:root {
    --color-primary: #cd8c2a;
    --color-secondary: #1c085d;
    --color-error: #E02626;

    --color-text: var(--color-secondary);

    --padding-md: 1rem;

    --font-size-md: 1rem;
    --font-size-lg: 1.5rem;

    --shadow-header: 0 0 10px rgba(0, 0, 0, 0.2);
}